* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: white;
}

.main {
  width: 100vw;
  height: auto;
  padding: 1em;
  background-color: white;
}

.cabecera {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  width: 100%;
  height: auto;
  background-color: black;
}

.cabecera1 {
  display: flex;
  padding: 1em;
  margin-bottom: 0.5em;
  height: auto;
  width: 100%;
  background-color: rgb(61, 61, 83);
}
.logo,
.navegacion,
.contacto {
  display: inline-block;
  background-color: rgb(230, 91, 114);
}
.logo {
  height: 1em;
  flex-grow: 1;
  margin-right: 1em;
}
.navegacion {
  height: 1em;
  flex-grow: 4;
  margin-right: 1em;
}
.contacto {
  height: 1em;
  flex-grow: 1;
}

.cabecera2 {
  display: flex;
  padding: 1em;
  height: auto;
  width: 100%;
  background-color: rgb(248, 136, 8);
}
.info {
  display: block;
  background-color: rgb(250, 200, 35);
  height: 1em;
  width: 100%;
}

.contenido {
  display: flex;
  margin: 1em auto;
  padding: 1em;
  width: 100%;
  height: auto;
  background-color: black;
}
.texto,
.aside {
  display: inline-flex;
  flex-wrap: wrap;
  height: auto;
  padding: 1em;
}
.texto {
  background-color: rgb(61, 61, 83);
  flex-grow: 2;
  margin-right: 1em;
}
.texto1,
.texto2,
.texto3,
.texto4,
.texto5 {
  display: inline-block;
  height: 1em;
}
.texto1 {
  background-color: rgb(53, 91, 175);
  flex-grow: 1;
  margin-right: 1em;
  margin-bottom: 1em;
}
.texto2 {
  background-color: rgb(53, 91, 175);
  flex-grow: 1;
  margin-bottom: 1em;
}
.texto > br {
  width: 100%;
  content: "";
}

.texto3 {
  background-color: rgb(53, 91, 175);
  flex-grow: 1;
  margin-bottom: 1em;
  margin-right: 1em;
}
.texto4 {
  background-color: rgb(53, 91, 175);
  flex-grow: 1;
  margin-bottom: 1em;
}
.texto5 {
  background-color: rgb(135, 224, 253);
  width: 100%;
}

.aside {
  background-color: rgb(230, 91, 114);
  flex-grow: 1;
  align-content: flex-start;
  padding: 1em;
}
.aside1,
.aside2 {
  background-color: rgb(245, 244, 174);
  width: 100%;
  height: 1em;
}
.aside1 {
  margin-bottom: 1em;
}

footer {
  display: flex;
  margin: 1em auto;
  width: 100%;
  height: auto;
  background-color: black;
  padding: 1em;
}
.mi-info {
  background-color: rgb(250, 200, 35);
  width: 100%;
  height: 1em;
}

/*Media Query para Tablet*/

@media only screen and (min-width: 501px) and (max-width: 960px) {
  body {
    font-size: 24px;
  }
  .contenido {
    flex-wrap: wrap;
    margin-bottom: 1em;
    background-color: yellow;
  }
  .texto {
    display: flex;
    margin-right: 0;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
  .aside {
    display: flex;
    width: 100%;
    height: auto;
  }
  .aside1,
  .aside2 {
    background-color: rgb(245, 244, 174);
    width: 100%;
    height: 1em;
  }
  .aside1 {
    margin-bottom: 0.5em;
  }
}

/*Media Query para Mobile*/

@media only screen and (max-width: 500px) {
  body {
    font-size: 32px;
  }
  .cabecera1 {
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 0;
  }
  .logo,
  .navegacion,
  .contacto {
    display: block;
    width: 100%;
    height: auto;
    min-height: 1em;
    margin-bottom: 1em;
    margin-right: 0;
  }

  .contenido {
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    padding: 1em;
    width: 100%;
    height: 18.5em;
    background-color: rgb(243, 213, 79);
  }
  .texto,
  .aside {
    display: flex;
    flex-wrap: wrap;
  }
  .texto {
    height: 11em;
    background-color: rgb(22, 62, 150);
    width: 100%;
    margin-right: 0;
    margin-bottom: 1em;
    padding: 1em;
  }
  .texto1,
  .texto2,
  .texto3,
  .texto4,
  .texto5 {
    display: block;
    height: 1em;
    width: 100%;
    margin-right: 0;
    background-color: rgb(127, 154, 214);
  }

  .texto > br {
    display: none;
  }

  .texto5 {
    background-color: rgb(135, 224, 253);
  }

  .aside {
    background-color: rgb(230, 91, 114);
    height: auto;
    align-content: flex-start;
    padding: 1em;
  }
  .aside1,
  .aside2 {
    background-color: rgb(245, 244, 174);
    width: 100%;
    height: 1em;
  }
  .aside1 {
    margin-bottom: 0.5em;
  }
}
